.App {
  text-align: center;
  background-color:  #88a9e7;
  font-size: x-large;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color:#88a9e7;
  min-height: 100vh;
  display: flex;
  align-items: center;
  border-color: black;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-size: x-large;
}

.App-header-purchase {
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  border-color: black;

  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: x-large;
}

.App-header-read {
  background-color: #88a9e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: xx-large;

}

#head{
  color: black;
  font-size: xx-large;

}

#address{
  color: rgb(80, 70, 13);
}

#example{
  color: lightslategray;
}

a:link{
  color: white;
}


#headMarket{
  color: black;
  font-size: xx-large;

}

#price{
  color: green;
}

Nav.Link {
  text-decoration: none;
  color: inherit;
}

#rank{
  color: gold;
}
.App-link {
  color:  gray;
}

#username{
  color: lightslategrey;
}

.cryptocurrency{
  padding: 1rem 4rem 2rem;
  margin: 1rem;
  border-radius: 0.5;
  border: solid 1px black;

  background-color: whitesmoke;
  min-width: 9rem;
  border: solid 5px rgba(0,0,0,0.05);
  border-bottom: solid 4px rgba(0,0,0,0.05);
  border-top: solid 4px rgba(0,0,0,0.05);

}

.cryptocurrency-market{
  padding: 1rem 4rem 2rem;
  margin: 1rem;
  border-radius: 0.5;
  border: solid 1px black;

  background-color: whitesmoke;
  min-width: 9rem;
  border: solid 5px rgba(0,0,0,0.05);
  border-bottom: solid 4px rgba(0,0,0,0.05);
  border-top: solid 4px rgba(0,0,0,0.05);
  float: left;

}

.cryptocurrency-purchase{
  padding: 1rem 2rem 2rem;
  margin: 1rem;
  border-radius: 0.5;
  min-width: 9rem;
  border: solid 1px black;
  border: solid 5px rgba(0,0,0,0.05);
  border-bottom: solid 4px white;
  border-top: solid 4px white;
  background-color: whitesmoke;

}

.cryptocurrency-withdraw{
  padding: 1rem 2rem 2rem;
  margin: 1rem;
  border-radius: 0.5;
  min-width: 9rem;
  border: solid 1px black;
  border: solid 5px rgba(0,0,0,0.05);
  border-bottom: solid 4px white;
  border-top: solid 4px white;
  background-color: whitesmoke;
  align-items: center;
}

.username{
  border-radius: 15px 50px 30px;
  background: white;
  padding: 10px; 
  width: 500px;
  height: 100px; 
}

.forms{
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #f0f7fb;
  border: solid 1px black;
  border-radius: 6px;
  line-height: 18px;
  width: 400px;
  overflow: hidden;
  padding: 12px;
}
